# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Audio files
*.wav
*.mp3

# Chat history
chat_history.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/